*.tmp
*~
presentations/*
figures/*
*.trees
results/BEAST/*
results/contrasts/*
results/rate_correlations/*
results/mutability_correlations/*
results/simulations/*
results/simulations_MCC/*
results/tree_annotation/*
results/hyphy/*
results/relative_mutability/*
*.out
*.err
*.pdf
*.png
*.DS_Store
*._.DS_Storel